@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

/*
// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #06bcef;
// Add pink and its invert
$pink: #ff8080;
$pink-invert: #fff;
// Update the sans-serif font family
$family-sans-serif: "Helvetica", "Arial", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $pink;
$primary-invert: $pink-invert;

// 4. Import the rest of Bulma
*/

@import "../node_modules/bulma/bulma";



// original stylings from here

#hero {
    background-image: url("../img/480_320_0017_480_320_001.jpg");
    background-size: cover;
    object-fit: cover;
    background-position-x: center;
    background-position-y: bottom;
}
#intro {
    background-image: url("../img/480_320_0012_480_320_006.jpg");
    background-size: cover;
    object-fit: cover;
    background-position-x: center;
    background-position-y: bottom;
}



$lightblue: #e2e9ff;
$info-blue: #3273DC;

h5.smaller {
    font-size: 0.9rem;
}

img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

figure {
    width: -webkit-fill-available;
}


@media screen and (min-width:768px) {
    .mobile-br {
        display: none;
    }
}
@media screen and (max-width:768px) {
    .pc-br {
        display: none;
    }
}


.flex {
    display: flex;
}
.flow-column {
    flex-flow: column;
}
@media screen and (max-width:768px) {
    .flow-column {
        flex-flow: row; 
    }
}

.divider {
    width: 100%;
    border-bottom: 2px solid gray;
}

.square {
    width: 100%;
    max-width: 100%;
}
@media screen and (max-width:768px) {
    .square {
        text-align: center;
    }
}

.small-text {
    font-size: 0.65rem;
}
.smally-text {
    font-size: 0.85rem;
}
.mid-text {
    font-size: 1rem;
}

.text-align-right {
    text-align: right;
}
.text-align-left {
    text-align: left;
}
.text-align-center {
    text-align: center;
}

.align-self {
    align-self: baseline;
}

@media screen and (max-width:768px) {
    .mobile-align-center {
        text-align: center;
        width: -webkit-fill-available;
    }
}





.column.same-height {
    display: inline-flex; 
}
@media screen and (max-width:768px) {
    .column.same-height {
        display: block; 
    }
}
.column.same-height > div {
    width: 100%; // only Edge needed this nonsense
}

@media screen and (max-width:768px) {
    .reverse {
        display: flex;
        flex-direction: column-reverse;
    }
}

.margin-for-col {
    width: 0.5rem;
}

.margin-centered {
    margin: 0 auto;
}

.padding {
    padding: 2rem;
}
@media screen and (max-width:768px) {
    .padding {
        padding: 1.25rem;
    }
}




.color-white {
    color: white !important;
}

.color-yellow {
    color: #ffff53 !important;
}

.color-blue {
    color: #104ba5 !important;
}

.color-info-blue {
    color: $info-blue;
}

li span {
    color: $dark;
}

.bg-lightblue {
    background-color: $lightblue;
}
.bg-info-blue {
    background-color: $info-blue;
    color: white;
    min-width: 30px;
}
.bg-darkgray {
    background-color: #4d4d4d;
    color: white;
}
.bg-white {
    background-color: white;
}

.li-bg-lightblue {
    background-color: $lightblue;
    padding: 0.5rem 1rem;

    svg {
        color: $info-blue;
    }
}
.li-bg-white {
    background-color: white;
    padding: 0.5rem 1rem;
    
    svg {
        color: #454545;
    }
}
@media screen and (min-width:768px) {
    .li-bg-lightblue {
        margin: 0 12%;
    }
    .li-bg-white {
        margin: 0 12%;
    }
}

.list-style-dot li {
    list-style: disc;
}




.underline-yellow {
    border-bottom: 3px solid #ffff53;
    width: fit-content;
    margin: 0 auto;
}

.underline-blue {
    border-bottom: 3px solid #104ba5;
    margin: 0 auto;
}



.virtical-letter {
    -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
    letter-spacing: 0.1rem;
    padding: 0 0.3rem;
    position: relative;
    top: 41%;
}


.plans .columns {
    margin: 0px;
    width: -webkit-fill-available;
}



@media screen and (max-width:768px) {
    .mobile-rotate-90 {
        transform: rotateZ(90deg);
    }
}

.movie-wrap {
    position: relative;
    padding-bottom: 56.25%; /*アスペクト比 16:9の場合の縦幅*/
    height: 0;
    overflow: hidden;
}

.movie-wrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

h4.ribbon {
    position: relative;
    left: -0.75rem;
    padding: 0.2rem 1rem;
    background: #7093ff;
    color: white;
    font-size: 0.85rem;
    width: fit-content;
      
    &:before {
        position: absolute;
        content: '';
        top: 100%;
        left: 0;
        border: none;
        border-bottom: solid 6px transparent;
        border-right: solid 16px #104ba5;
    }
}

// back to top button

#page_top{
    width: 50px;
    height: 50px;
    position: fixed;
    right: 2%;
    bottom: 2%;
    background: white;
    border-radius: 50%;
    z-index: 999;
    box-shadow:
        0px 1px 5px 0px rgba(0,0,0,0.2),
        0px 2px 2px 0px rgba(0,0,0,0.14),
        0px 3px 1px -2px rgba(0,0,0,0.12);

    &:hover {
        background-color: rgb(235, 235, 235);
        scale: 1.1;
    }
}
#page_top a{
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    text-decoration: none;
}
#page_top a > svg{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 25px;
    color: #454545;
    position: absolute;
    width: 25px;
    height: 25px;
    top: -5px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
}
@media screen and (max-width:768px) {
    #page_top {
        display: none;
    }
}