@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

/*
// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #06bcef;

// Add pink and its invert
$pink: #ff8080;
$pink-invert: #fff;
// Update the sans-serif font family
$family-sans-serif: "Helvetica", "Arial", sans-serif;
*/
$blue: #104ba5;
$cyan: #7093ff;
$grey-darker :#4d4d4d;
/*
// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $pink;
$primary-invert: $pink-invert;

// 4. Import the rest of Bulma
*/

@import "../node_modules/bulma/bulma";






// original stylings from here
html {
    scroll-behavior: smooth;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Helvetica', YuGothic, 'Yu Gothic Medium', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
    color: #4d4d4d
}

li {
    font-size: 15px;
}

p {
    font-size: 13.5px;
}



// font

@mixin button-responsive {
    @media screen and (max-width:768px) {
        .button {
            padding: 1.5rem 3rem;
        }
    }
}


h2.subtitle.has-text-centered {
    color: #4d4d4d!important;
    font-weight: 600!important;
}

li {
    font-size: 15px;
}

ul.caution li {
    font-size: 12px;
    color: $cyan;
}


.navbar, .navbar-brand, .navbar-tabs, .navbar-burger {
    min-height: 4.25rem;
}

.navbar-item img {
    max-height: none;
}

.navbar-menu {
    font-size: 13.5px;
    .button {
        font-size: 13.5px;
    }
}

.hero.is-fullheight {
    min-height: 94vh;
}

#hero {
    h2.subtitle {
        font-size: 22.5px!important;
        font-weight: 400;
    }
    h1.title {
        font-size: 36px;
        font-weight: 300;
    }
    p {
        font-size: 16.5px;
        font-weight: 600;
    }
    .button {
        font-size: 15px;
        padding: 1.5rem 3rem;
    }
}

#testimanial {
    .title {
        font-size: 24px;
        font-weight: 300;
        line-height: 3rem;
    }
    .subtitle {
        font-size: 18px;
        font-weight: 600;
        color: $blue;
    }
}

.container {
    h2.subtitle {
        font-size: 22.5px;
        color: $blue;
        font-weight: 200;
    }
    h1.title {
        font-size: 30px;
    }
}

#features {
    h2.title {
        font-size: 24px;
        line-height: 2.4rem;
    }
    p {
        font-size: 13.5px;
    }
    .button {
        font-size: 15px;
        padding: 1.5rem 6rem;
    }
    @include button-responsive();
}


#cebu-study-abroad {
    p {
        font-size: 13.5px;
    }
}

#intro {
    h2.subtitle {
        font-size: 18px;
        font-weight: 600;
        color: #4d4d4d;

        span.bigger-text {
            font-size: 30px;
        }
    }
    .button {
        font-size: 15px;
        padding: 1.5rem 6rem;
        
    }
    @include button-responsive();
}

#osusume {
    li {
        font-weight: 600;
    }
}

#plans {
    .virtical-letter {
        p {
            font-size: 15px;
            font-weight: 600;
        }
    }
    h4 {
        font-size: 15px;
        color: $blue;
    }
    p.caution {
        font-size: 12px;
        color: $cyan;
    }
}

#activity {
    h5 {
        font-size: 15px;
        color: $blue;
    }
}

#gonzares {
    h3 {
        color: $blue;
        font-size: 18px;
    }
    .button {
        font-size: 15px;
        padding: 1.5rem 6rem;
        
    }
    @include button-responsive();
}

#kiwotukeyou {
    h1 {
        font-size: 30px;
    }
    p.bold {
        font-size: 15px;
        font-weight: 600;
    }
    h2.color-yellow {
        font-size: 24px;
    }
}

#method {
    div.bg-info-blue {
        font-size: 15px;
        font-weight: 600;
        padding: 0.4rem;
    }
    li {
        font-size: 15px;
        padding: 0px 0px 10px 5px;
        font-weight: 600;
    }
    .text-blue {
        color: $blue;
    }
}

#storyshare {
    div.fomula {
        font-size: 15px;
        font-weight: 600;
        margin-left: 0px;
    }
    @media screen and (max-width:1000px) and (min-width: 768px){
        div.fomula {
            font-size: 12px;
        }
    }
    h2 {
        font-size: 24px;
    }
}

.ss-features {
    h2 {
        font-size: 24px;
    }
    h3, .text-blue {
        font-size: 15px;
        font-weight: 600;
        color: $blue;
    }
    li {
        font-size: 13.5px;
    }
    .button {
        font-size: 15px;
        padding: 1.5rem 6rem;
        
    }
    @include button-responsive();
}

#application {
    h4 {
        font-size: 15px;
        font-weight: 600;
        color: $blue;
    }
    div.column {
        font-size: 13.5px;
    }
    .caution {
        font-size: 12px;
        color: $cyan;
    }
    li {
        font-weight: 600;
    }
    .button {
        font-size: 15px;
        padding: 1.5rem 6rem;
        
    }
    @include button-responsive();
}

#footer {
    .button {
        font-size: 15px;
        padding: 1.5rem 6rem;
        
    }
    @include button-responsive();

    .text-green {
        font-size: 16.5px;
        font-weight: 600;
        color: #00B900;
    }
    .text-lightblue {
        color: #15ADF0;
        font-weight: 600;
        font-size: 16.5px;
    }
    a {
        color: #7093FF;
    }
}

.copy-right {
    font-size: 12px;
    padding-bottom: 2rem;
}







#hero {
    background-image: url("../img/shutterstock.jpg");
    background-size: cover;
    object-fit: cover;
    background-position-x: center;
    background-position-y: top;
}
#intro {
    background-image: url("../img/480_320_0012_480_320_006.jpg");
    background-size: cover;
    object-fit: cover;
    background-position-x: center;
    background-position-y: bottom;
}



$lightblue: #e2e9ff;
$info-blue: $blue;

h5.smaller {
    font-size: 0.9rem;
}

img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

figure {
    width: -webkit-fill-available;
}


@media screen and (min-width:768px) {
    .mobile-br {
        display: none;
    }
}
@media screen and (max-width:768px) {
    .pc-br {
        display: none;
    }
}

@media screen and (max-width:768px) {
    .mobile-is-centered {
        justify-content: center;
    }
}



// Flex controll

.flex {
    display: flex;
}
.flow-column {
    flex-flow: column;
}
@media screen and (max-width:768px) {
    .flow-column {
        flex-flow: row; 
    }
}

.divider {
    width: 100%;
    border-bottom: 1px solid gray;
}

.square {
    width: 100%;
    max-width: 100%;
    position: relative;
}
@media screen and (max-width:768px) {
    .square {
        text-align: center;
    }
}

.small-text {
    font-size: 0.65rem;
}
.smally-text {
    font-size: 0.85rem;
}
.mid-text {
    font-size: 1rem;
}

.text-align-right {
    text-align: right;
}
.text-align-left {
    text-align: left;
}
.text-align-center {
    text-align: center;
}

.align-self {
    align-self: baseline;
}

@media screen and (max-width:768px) {
    .mobile-align-center {
        text-align: center;
        width: -webkit-fill-available;
    }
}





.column.same-height {
    display: inline-flex; 
}
@media screen and (max-width:768px) {
    .column.same-height {
        display: block; 
    }
}
.column.same-height > div {
    width: 100%; // only Edge needed this nonsense
}

@media screen and (max-width:768px) {
    .reverse {
        display: flex;
        flex-direction: column-reverse;
    }
}


// padding margin controll

.padding-top-1 {
    padding-top: 1rem;
}
.padding-top-2 {
    padding-top: 2rem;
}
.padding-top-3 {
    padding-top: 3rem;
}
.padding-top-4 {
    padding-top: 4rem;
}
.padding-top-5 {
    padding-top: 5rem;
}
.padding-bottom-1 {
    padding-bottom: 1rem;
}
.padding-bottom-2 {
    padding-bottom: 2rem;
}
.padding-bottom-3 {
    padding-bottom: 3rem;
}
.padding-bottom-4 {
    padding-bottom: 4rem;
}
.padding-bottom-5 {
    padding-bottom: 5rem;
}
.margin-top-1 {
    margin-top: 1rem;
}
.margin-top-2 {
    margin-top: 2rem;
}
.margin-top-3 {
    margin-top: 3rem;
}
.margin-top-4 {
    margin-top: 4rem;
}
.margin-top-5 {
    margin-top: 5rem;
}
.margin-bottom-1 {
    margin-bottom: 1rem;
}
.margin-bottom-2 {
    margin-bottom: 2rem;
}
.margin-bottom-3 {
    margin-bottom: 3rem;
}
.margin-bottom-4 {
    margin-bottom: 4rem;
}
.margin-bottom-5 {
    margin-bottom: 5rem;
}
.margin-left-12 {
    margin-left: 12px;
}
//-----





.margin-for-col {
    width: 0.5rem;
}

.margin-centered {
    margin: 0 auto;
}


@media screen and (max-width:768px) {
    .negative-margin-right {
        margin-right: -5%!important;
    }
}

.padding {
    padding: 2rem;
    position: relative;
}
@media screen and (max-width:768px) {
    .padding {
        padding: 1.25rem;
    }
}




.color-white {
    color: white !important;
}

.color-yellow {
    color: #ffff53 !important;
}

.color-blue {
    color: #104ba5 !important;
}

.color-info-blue {
    color: $info-blue;
}

li span {
    color: $dark;
}

.bg-lightblue {
    background-color: $lightblue;
}
.bg-info-blue {
    background-color: $info-blue;
    color: white;
    min-width: 30px;
}
.bg-darkgray {
    background-color: #4d4d4d;
    color: white;
}
.bg-white {
    background-color: white;
}

.li-bg-lightblue {
    background-color: $lightblue;
    padding: 0.5rem 1rem;

    svg {
        color: $info-blue;
    }
}
.li-bg-white {
    background-color: white;
    padding: 0.5rem 1rem;
    
    svg {
        color: #454545;
    }
}
@media screen and (min-width:768px) {
    .li-bg-lightblue {
        margin: 0 12%;
    }
    .li-bg-white {
        margin: 0 12%;
    }
}

.list-style-dot li {
    list-style: disc;
}




.underline-yellow {
    border-bottom: 3px solid #ffff53;
    width: fit-content;
    margin: 0 auto;
}

.underline-blue {
    border-bottom: 3px solid $cyan;
    margin: 0 auto!important;
    width: fit-content;
}



.virtical-letter {
    -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
    letter-spacing: 0.1rem;
    padding: 0 0.3rem;
    position: relative;
    top: 41%;
}


.plans .columns {
    margin: 0px;
    width: -webkit-fill-available;
}

.logo {
    object-fit: scale-down;
}




@media screen and (max-width:768px) {
    .mobile-rotate-90 {
        transform: rotateZ(90deg);
    }
}

// Adjust the size of youtube videos.
.movie-wrap {
    position: relative;
    padding-bottom: 56.25%; /*アスペクト比 16:9の場合の縦幅*/
    height: 0;
    overflow: hidden;
}

.movie-wrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

// Ribbon title
h4.ribbon {
    position: relative;
    left: -0.75rem;
    padding: 0.2rem 1rem;
    background: #7093ff;
    color: white;
    font-size: 0.85rem;
    width: max-content;
    min-width: 70px;
      
    &:before {
        position: absolute;
        content: '';
        top: 100%;
        left: 0;
        border: none;
        border-bottom: solid 6px transparent;
        border-right: solid 16px #104ba5;
    }
}

h4.ribbon.ribbon-to-div {
    font-size: 13.5px;
    font-weight: 600;
    position: absolute;
    top: 8px;
    left: -16px;
    background: #104ba5;
    &:before {
        border-right: solid 16px #7093ff;
    }
}

h4.ribbon.ribbon-to-div.lighter {
    background: #7093ff;
    &:before {
        border-right: solid 16px #104ba5;
    }
}

h4.ribbon.non-ribbon {
    &:before {
        border-right: solid 16px #F5F5F5;
    }
}



.ss-features .ribbon{
    top: -1rem;
    left: 0px;
}


// back to top button

#page_top{
    width: 50px;
    height: 50px;
    position: fixed;
    right: 2%;
    bottom: 2%;
    background: white;
    border-radius: 50%;
    z-index: 999;
    box-shadow:
        0px 1px 5px 0px rgba(0,0,0,0.2),
        0px 2px 2px 0px rgba(0,0,0,0.14),
        0px 3px 1px -2px rgba(0,0,0,0.12);

    &:hover {
        background-color: rgb(235, 235, 235);
        scale: 1.1;
    }
}
#page_top a{
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    text-decoration: none;
}
#page_top a > svg{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 25px;
    color: #454545;
    position: absolute;
    width: 25px;
    height: 25px;
    top: -5px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
}
@media screen and (max-width:768px) {
    #page_top {
        display: none;
    }
}

.vs-image {
    padding: 5px;
    text-align: center;

    img {
        width: auto;
        height: auto;
        max-width: 5rem;
    }
    @media screen and (min-width:768px) {
        img {
            position: relative;
            top: -20px;
        }
    }
}