@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

/*
// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #06bcef;
// Add pink and its invert
$pink: #ff8080;
$pink-invert: #fff;
// Update the sans-serif font family
$family-sans-serif: "Helvetica", "Arial", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $pink;
$primary-invert: $pink-invert;

// 4. Import the rest of Bulma
*/

@import "../node_modules/bulma/bulma";


// original stylings from here

$lightblue: #e2e9ff;
$info-blue: #3273DC;



img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

figure {
    width: -webkit-fill-available;
}

.flex {
    display: flex;
}

.divider {
    width: 100%;
    border-bottom: 2px solid gray;
}


.column.same-height {
    display: inline-flex; 
}
@media screen and (max-width:768px) {
    .column.same-height {
        display: block; 
    }
}
.column.same-height > div {
    width: 100%; // only Edge needed this nonsense
}

@media screen and (max-width:768px) {
    .reverse {
        display: flex;
        flex-direction: column-reverse;
    }
}

.margin-for-col {
    width: 0.5rem;
}

.padding {
    padding: 2rem;
}

.bg-lightblue {
    background-color: $lightblue;
}
.bg-info-blue {
    background-color: $info-blue;
    color: white;
}

.li-bg-lightblue {
    background-color: $lightblue;
    padding: 0.5rem 1rem;

    svg {
        color: $info-blue;
    }
}
.li-bg-white {
    background-color: white;
    padding: 0.5rem 1rem;
    
    svg {
        color: #454545;
    }
}
@media screen and (min-width:768px) {
    .li-bg-lightblue {
        margin: 0 12%;
    }
    .li-bg-white {
        margin: 0 12%;
    }
}

.virtical-letter {
    -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
    letter-spacing: 0.1rem;
    padding: 0 0.3rem;
    position: relative;
    top: 41%;
}

.plans .columns {
    margin: 0px;
    width: -webkit-fill-available;
}